*{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body {
    height: 100%;
    background: rgb(2,0,36) ;
background: linear-gradient(184deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%) ;
   background-repeat: no-repeat ;
   background-attachment: fixed;

    
}

nav{
    height: 40px;
    font-size: large;
    margin-top: 15px;
    
}


.cover-container{
    align-items: center;
    justify-content: center;
    display: flex;
    
}


.nav-link {
    text-decoration: none;
    padding: 0.25rem 0;
    font-weight: 700;
    color:rgba(255,255,255,0.5) ;
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.container, form {
    margin:10px auto;
    text-align: center;
}


.nav-link:hover{
    text-decoration: none;
    color: white;
    border-bottom-color:white
}

.nav-link.active {
    color: white;
    border-bottom-color:white;

}
.card, .card-body, .card-text, li{
    color: black;
}

